.contentpage {
    padding-bottom: rem(120);

    &__latestPosts {
        padding-top: rem(120);
    }

    &__heading {
        padding-bottom: rem(28);
    }

    &__postsRow {
        @include query(until, lg) {
            overflow-x: scroll;
            flex-wrap: nowrap;
        }
    }
}