.errorpage {
    padding: rem(280) 0 rem(200);

    &__title {
        font-size: rem(66);
        background: linear-gradient(180deg, #F47A20 0%, #F7A92D 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        
        @include query(from, sm) {
            font-size: rem(120);
        }
        @include query(from, md) {
            font-size: rem(170);
        }
    }
    &__raster {
        bottom: rem(80);
    }

    &__subtitle {
        font-weight: 600;
        font-size: rem(18);
        line-height: rem(21);
        color: black;
    }

    &__content {
        font-style: normal;
        font-weight: normal;
        font-size: rem(16);
        line-height: rem(21);
        color: black;
        margin: rem(12) 0 rem(28);

        a {
            color: map-get($colors, "orange");
            text-decoration: underline;
        }
    }
}