.footer {
  background-color: var(--dark-blue);
  padding: rem(50) 0 rem(15);

  &__slogan {
    padding-top: rem(30);
    color: white;
    font-size: rem(24);
  }

  &__bottom {
    padding-top: rem(70);
  }

  &__small {
    font-size: rem(14);
    color: white;

    a {
      color: white;
    }
  }
}