body {
  padding-top: rem(50);
  
  @include query(from, md) {
    padding-top: rem(57);
  }
}

.navigation {
  $self: &;
  $hamburger: '.navigation__hamburger';
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: var(--dark-blue);
  padding: rem(10) 0;
  min-height: rem(50);
  
  @include query(from, md) {
    min-height: rem(57);
  }

  transition: {
    property: background-color;
    duration: 250ms;
    timing-function: map-get($transitions, 'default');
  }

  &:before {
    @include query(until, md) {
      content: '';
      position: fixed;
      width: 100%;
      left: 0;
      height: calc(100% - 50px);
      background-color: rgba(black, 0.35);
      opacity: 0;
      pointer-events: none;
      top: rem(50);
  
      transition: {
        property: opacity;
        duration: 350ms;
        timing-function: map-get($transitions, 'default');
      }

      @include query(from, md) {
        top: rem(57);
      }
    }
  }

  &--toggled {
    @include query(until, md) {
      &:before {
        opacity: 1;
      }
    }
  }

  .admin-bar & {
    top: rem(46);

    @include query(from, md) {
      top: rem(32);
    }
  }

  &__label {
    color: white;
    transition: color 150ms ease-in-out;

    &:hover {
      color: var(--orange);
    }

    @include query(until, md) {
      font-size: rem(24);
      font-weight: 500;
    }

    &--sub {
      white-space: nowrap;

      @include query(until, md) {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  &__list {
    @include query(until, md) {
      display: flex;
      flex-direction: column;
      width: rem(300);
      position: fixed;
      right: 0;
      top: rem(50);
      height: calc(100% - 50px) !important;
      transform: translateX(100%);
      background-color: var(--dark-blue);
      border-bottom-left-radius: rem(30);
      padding: rem(50) rem(30);
      row-gap: rem(20);
      top: rem(50);
      
      transition: {
        property: transform;
        duration: 350ms;
        timing-function: map-get($transitions, 'default');
      }
      
      @include query(from, md) {
        top: rem(57);
      }

      .admin-bar & {
        top: 111px;
      }

      &--sub {
        position: relative !important;
      }
    }
  }

  &__sub {
    position: relative;
    padding-left: rem(15);
    
    &--show {
      transform: translateX(0);
    }

    @include query(from, md) {
      position: absolute;
      opacity: 0;
      background-color: var(--dark-blue);
      padding: rem(15) rem(15);
      border-radius: rem(10);
      box-shadow: 0 2px 4px 0 rgba(#2E549E, 0.25);
      bottom: 0;
      transform: translateY(calc(100% + 10px));
      transition: transform 250ms map-get($transitions, 'default'), opacity 250ms map-get($transitions, 'default');
      pointer-events: none;

      .navigation__listItem {
        border-bottom: 1px solid white;

        &:first-of-type a {
          padding-top: 0;
        }
        &:last-of-type {
          border-bottom: none;

          a {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  &__listItem {
    &:hover {
      .navigation__sub {
        opacity: 1;
        transform: translateY(100%);
        pointer-events: all;
      }
    }
  }

  &__link {
    &--sub {
      padding: rem(9) 0;
    }
  }

  &__logo {
    @include query(until, md) {
      width: 100%;
    }
  }

  &__hamburger {
    width: rem(30);
    height: rem(24);
  }

  &__bar {
    height: 2px;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    background-color: white;

    &--top {
      top: 0;
    }

    &--mid {
      top: 50%;
      transform: translateY(-50%);
    }

    &--bot {
      bottom: 0;
    }
  }
}