.newsOverview {
    padding: rem(86) 0 rem(150);

    &__title {
        margin-bottom: rem(30);
    }

    &__row {
        row-gap: rem(60);

        &--slider {
            margin-bottom: rem(30);

            @include query(until, lg) {
                overflow-x: scroll;
                flex-wrap: nowrap;
            }
        }
    }
}