.overview {
    padding: rem(100) 0;
    $holder: '.overview__filtersHolder';
    $holderActive: '.overview__filtersHolder--show';

    @include query(until, md) {
        padding: rem(50) 0;
    }

    &__filtersHolder {
        gap: rem(30);
    }

    &__row {
        row-gap: rem(30);
        
        @include query(from, md) {
            row-gap: rem(20);
        }
    }

    &__filterWrapper {
        &--search {

            .facetwp-facet {
                border: 1px solid var(--dark-blue);
            }
        }
        .facetwp-facet {
            margin-bottom: 0;
        }
        .facetwp-slider-label {

            @include query(until, md) {
                color: white;
                margin-bottom: 10px;
                display: flex;
            }
        }
    }

    .facetwp-input-wrap {
        width: 100%;
    }

    &__filterButton {
        @extend %ctaButton;
    }

    &__closeButton {
        top: 0;
        right: 0;
    }

    &__filtersOuter {
        display: flex;
        gap: 30px;
        flex-direction: column;

        @include query(until, md) {
            position: fixed;
            top: 50px;
            left: 0;
            background: var(--dark-blue);
            padding: 15px;
            height: 100%;
            z-index: 9;
            border-bottom-right-radius: 30px;
            overflow-y: scroll;
            max-height: calc(100% - 50px);
            transform: translateX(-100%);
            transition: transform 250ms map-get($transitions, 'default');

            .admin-bar & {
                top: 111px;
                max-height: calc(100% - 111px);
            }

            #{$holderActive} & {
                transform: translateX(0);
            }
        }
    }

    &__filterHeading {
        &.accordion-button:not(.collapsed) {
            color: var(--dark-blue);
            background-color: white;
            box-shadow: none;
            // background-color: #e7f1ff;
        }
    }
}