/** Styles for the phone overview (shop) page */

.phones {
    padding: rem(95) 0 rem(150);

    @include query(until, md) {
        padding: rem(55) 0 rem(150);
    }

    &__row {
        row-gap: rem(25);
    }

    &__filterTitle {
        @extend %heading;
        margin-bottom: rem(13);
        font-size: rem(24);
        line-height: rem(28);
        color: black;
        font-weight: 700;
    }

    &__brand {
        border: 1px solid map-get($colors, 'grey');
        border-radius: rem(12);
        font-weight: 600;
        font-size: rem(14);
        line-height: rem(17);
        color: black;
        padding: rem(9) rem(8);
        cursor: pointer;
        transition: {
            property: background-color, border-color, color;
            duration: 250ms;
            timing-function: map-get($transitions, 'default');
        }

        &:hover{
            background-color: rgba(map-get($colors, 'orange'), 0.4);
            border: 1px solid rgba(map-get($colors, 'orange'), 0.4);
        }

        &--active {
            background-color: rgba(map-get($colors, 'orange'), 1);
            border: 1px solid rgba(map-get($colors, 'orange'), 1);
            color: white;

            &:hover{
                background-color: rgba(map-get($colors, 'orange'), 0.7);
                border: 1px solid rgba(map-get($colors, 'orange'), 0.7);
            }
        }
    }

    &__sliderWrapper {
        .noUi-target {
            box-shadow: none;
            border: none;
            background: none;
        }

        .noUi-base {
            // height: 1px;
        }
        .noUi-connects {
            display: flex;
            align-items: center;
            position: relative;

            &:after {
                content: '';
                height: 3px;
                position: absolute;
                width: 100%;
                background: map-get($colors, 'grey');
            }
        }
        .noUi-connect {
            height: 3px;
            position: relative;
            background: map-get($colors, 'orange');
        }

        .noUi-handle {
            appearance: none;
            border-radius: 100%;
            width: 14px !important;
            height: 14px !important;
            top: 3px !important;
            right: -7px !important;
            background-color: map-get($colors, 'orange');
            border: none;
            box-shadow: none;

            &:before,
            &:after {
                display: none;
            }
        }
    }

    &__mobileFilterTrigger {
        border-radius: rem(10);
        margin-bottom: rem(30);
    }

    &__filterOuter {
        @include query(until, md) {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            transform: translateY(100%);
            background-color: white;
            padding: 75px 45px 60px;
            transition: transform 500ms map-get($transitions, 'default');
            border-radius: 20px 20px 0px 0px;

            &--show {
                transform: translateY(0);
            }
        }
    }

    &__closeButton {
        top: rem(30);
        right: rem(40);
    }
}
