.phone {
    padding: rem(45) 0 rem(200);

    &__heading {
        font-family: Campaign;
        font-size: rem(35);
        line-height: rem(41);
        color: black;
        font-weight: 700;
        margin-bottom: rem(25);
    }

    &__images {
        background-color: map-get($colors, 'grey');
        border-radius: 20px 20px 20px 0px;
        padding: rem(34) 0 rem(16);
    }

    &__configuratorWrapper {
        background-color: map-get($colors, 'grey');
        border-radius: 20px 20px 20px 0px;
        padding: rem(35) rem(35) rem(50);
    }

    &__cartWrapper {
        background-color: map-get($colors, 'grey');
        border-radius: 20px 20px 20px 0px;
        padding: rem(35);

        @include query(from, lg) {
            margin-top: rem(-140);
        }
    }

    &__label {
        color: map-get($colors, 'orange');
        font-weight: 500;
        font-size: rem(18);
        margin-bottom: rem(13);

        &--dark {
            color: black;
        }
    }

    &__value {
        color: black;

        &--orange {
            color: map-get($colors, 'orange');
        }
    }
}
