.productDetail {
    padding: rem(50) 0;
    overflow-x: hidden;

    @include query(from, md) {
        padding: rem(100) 0;
    }

    &__top {

        @include query(from, md) {
            padding-bottom: rem(300);
        }
    }

    &__leftColWrapper {
        position: relative;
        z-index: 2;
        .woocommerce-product-gallery {
            box-shadow: 0 0 rem(20) 0 rgba(#2E549E, 0.25);
            background-color: white;
            position: relative;
            border-radius: 30px;
            padding: 15px;
            width: calc(40% + 60px);

            .flex-control-nav.flex-control-thumbs {
                margin-top: 10px !important;
                gap: 5px;
                display: flex;
            }
        }
    }

    &__info {
        background-color: var(--blue);
        background: linear-gradient(72deg, rgba(39,78,155,1) 0%, rgba(34,63,120,1) 100%);
        position: relative;
        z-index: 1;
        padding-top: rem(30);

        &::before {
            content: "";
            position: absolute;
            top: -3000px;
            bottom: 0;
            right: -3000px;
            left: -50px;
            bottom: -200px;
            background-color: var(--blue);
            z-index: -1;
            border-radius: 0px 0px 0px 30px;

            @include query(from, lg) {
                left: -100px;
            }
        }

        .product_title {
            color: white;
        }

        .price {
            color: var(--orange) !important;
            font-size: rem(16);
        }

        .posted_in {
            display: none;
        }

        .single_add_to_cart_button {
            @extend %ctaButton;
            color: white !important;
            padding: rem(5) rem(55) !important;
            background-color: var(--orange) !important;
            border-radius: 0.625rem !important;
            font-size: rem(20) !important;
            transition: {
                property: color, background-color;
                duration: 150ms;
                timing-function: map-get($transitions, 'default');
            }
            &:hover {
                background-color: map-get($colors, 'orangeHover') !important;
            }

            @include query(until, md) {
                width: 100%;
                text-align: center;
                padding: rem(10) rem(15) !important;
            }
        }
    }

    &__accordionButton {
        @extend %h2;
        background-color: transparent !important;
        color: white !important;
        box-shadow: none !important;

        &:after {
            filter: contrast(0) brightness(0) invert(1);
        }
    }

    &__intro {
        color: white;
        font-size: rem(16);
        border-top: 2px solid white;
        padding-top: rem(20);

        h2 {
            margin-bottom: rem(20);
        }

        ul {
            margin-bottom: 0;
        }

        li {
            margin-bottom: rem(5);
        }
    }

    &__anchorLink {
        background: map-get($colors, 'lightgrey');
        padding: rem(5) rem(15);
        border-radius: rem(10);
        text-decoration: none;
        color: var(--dark-blue);

        transition: {
            property: color, background-color;
            duration: 150ms;
            timing-function: map-get($transitions, 'default');
        }
      
        &:hover {
            color: var(--dark-blue);
            background-color: darken(map-get($colors, 'lightgrey'), 10%);
        }
    }
}