.section {
    $self: &;

    padding: rem(40) 0;

    &:last-of-type {
        &.section--blue {
            padding-bottom: 0;
        }
    }

    &__inner {
        #{$self}--blue & {
            background-color: var(--blue);
            background: linear-gradient(72deg, rgba(39,78,155,1) 0%, rgba(34,63,120,1) 100%);
            padding: rem(80) 0;

            #{$self}:last-of-type & {
                padding-bottom: 0;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(36);
        margin-bottom: rem(15);

        #{$self}--blue & {
            color: white;
        }
    }

    &__contentWrapper {
        #{$self}--blue & {
            color: white;
        }

        p {
            margin-bottom: 0;
        }
    }

    &__overview {
        row-gap: rem(20);
    }
}