.breadcrumbs {
    padding-bottom: rem(30);
    
    &__divider {
        width: rem(30);
    }

    &__inner {
        color: white;
        font-weight: 600;
        font-size: rem(16);
        line-height: rem(19);
        transition: color 150ms map-get($transitions, 'default');

        &--clickable {
            &:hover {
                color: map-get($colors, 'orange');
            }
        }

        &--current {
            color: map-get($colors, 'orange');
        }
    }
}