.button {
  @include transition(background-color);
  position: relative;
  text-decoration: none;

  &--cta {
    @extend %ctaButton;
    background-color: var(--dark-blue);
  }

  &--orangeCta {
    @extend %ctaButton;
    background-color: var(--orange);

    &:hover {
      background-color: map-get($colors, 'orangeHover');
    }
  }

  &--blue {
    &:hover {
      background-color: map-get($colors, 'blueHover');
    }
  }

  &--banner {
    padding: rem(10) rem(15);
    gap: rem(45);
  }
}
