#CybotCookiebotDialog {
    #CybotCookiebotDialogHeader {
        display: none !important;
    }

    #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
        background-color: map-get($colors, 'orange') !important;
        border-color: map-get($colors, 'orange') !important;
        transition: background-color 150ms map-get($transitions, 'default');
        border-radius: rem(10);

        &:hover {
            background-color: map-get($colors, 'orangeHover') !important;
            opacity: 1;
        }
    }
    
    #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
        border: 2px solid map-get($colors, 'darkblue') !important;
        border-radius: rem(10);

        &:hover {
            opacity: 1;
        }
    }
    #CybotCookiebotDialogBodyButtonDecline {
        border: 2px solid map-get($colors, 'darkblue') !important;
        border-radius: rem(10);

        &:hover {
            opacity: 1;
        }
    }
    
    #CybotCookiebotDialogTabContent input:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
        background-color: map-get($colors, 'orange') !important;
        border: 1px solid transparent;

        &:before {
            background-color: white;
            transform: translateX(24px) !important;
        }
    }
    
    #CybotCookiebotDialogTabContent input[type=checkbox][disabled]:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
        background-color: #D6D6D6 !important;
    }

    #CybotCookiebotDialogTabContent .CybotCookiebotDialogBodyLevelButtonSlider {
        border: 1px solid map-get($colors, 'darkblue');
        background-color: white;
        transition: background-color 150ms map-get($transitions, 'default');

        &:before {
            background-color: map-get($colors, 'orange');
            bottom: 3px !important;
        }
    }

    .CybotCookiebotDialogBodyLevelButtonDescription:hover  {
        color: map-get($colors, 'darkblue') !important;
    }

    #CybotCookiebotDialogBodyEdgeMoreDetailsLink {
        color: map-get($colors, 'darkblue') !important;
    }
}