.productCard {
    &__title {
        font-weight: 500;
    }

    &__imageWrapper {
        border: 1px solid var(--dark-blue);
        border-top-left-radius: rem(10);
        border-top-right-radius: rem(10);
        max-height: rem(200);
        margin-bottom: rem(10);
        overflow-y: hidden;

        &:after {
            content: '';
            display: block;
            padding-top: 85%;
        }

        img {
            border-top-left-radius: rem(10);
            border-top-right-radius: rem(10);
            top: 0;
            left: 0;
            position: absolute;
            width: auto !important;
            height: 100% !important;
            left: 50% !important;
            transform: translateX(-50%);
        }
    }

    &__price {
        color: var(--orange);
        font-size: rem(14);
    }

    &__links {
        margin-top: rem(5);
        gap: rem(10);
    }

    &__link {
        color: var(--dark-blue);
        &--cta {
            color: white;
            padding: rem(5) rem(15);
            background-color: var(--orange);
            border-radius: rem(10);
            width: 100%;
            transition: {
                property: color, background-color;
                duration: 150ms;
                timing-function: map-get($transitions, 'default');
            }

            &:hover {
                color: white !important;
                background-color: map-get($colors, 'orangeHover');
            }

            @include query(from, lg) {
                width: auto;
            }
        }
    }
}