.search {
    &__wrapper,
    .facetwp-facet {
        background-color: white;
        border-radius: rem(50);
        padding: 0 rem(15);
        border: 1px solid transparent;

        &:focus-within {
            border: 1px solid var(--orange);
        }

        .overview__filterWrapper & {
            border: 1px solid var(--dark-blue);
        }
    }

    &__input,
    .facetwp-search {
        border: 0;
        background: transparent;
        flex-grow: 1;
        line-height: 1;

        &:focus {
            outline: none;
        }
    }

    &__submit {
        min-width: rem(20);
        max-width: rem(20);
    }
}
