%section {
  padding: rem(100) 0;

  &--grey {
    background-color: map-get($colors, "bgLight");
  }
}

%tagline {
  color: map-get($colors, "soft");
  font-size: rem(16);
  font-weight: 500;
  text-transform: uppercase;
}

%defaultborder {
  border-radius: rem(20) rem(20) rem(20) 0;
}

%defaultTransition {
  transition-duration: 150ms;
  transition-timing-function: map-get($transitions, 'default');
}

%sectionTitle {
  font-size: 35px;
  line-height: 41px;
}

%heading {
  font-family: "campaign", sans-serif;
}

%defaultText {
  font-family: Usual;
  font-size: rem(16);
  line-height: rem(21);
  color: black;
}

%wrapper {
  background-color: map-get($colors, 'dark');
  border-radius: 20px 20px 20px 0px;
}

%radiusWrapper {
  border-radius: 20px 20px 20px 0px;
}

%ctaButton {
  color: white;
  padding: rem(3) rem(15);
  background-color: var(--orange);
  border-radius: rem(10);
  transition: {
      property: color, background-color;
      duration: 150ms;
      timing-function: map-get($transitions, 'default');
  }

  &:hover {
      color: white !important;
      background-color: map-get($colors, 'orangeHover');
  }
}