@use "sass:math";

/**
px to rem conversion function (rem is better for accessibility as it scales better when zooming)
Usage example: set font-size to 16px, but render it out as REM
.someclass {
  font-size: rem(16);
}
**/

@function rem($size) {
  $remSize: math.div($size, 16);
  @return #{$remSize}rem;
}

@mixin query($dir: from, $breakpoint: 'xs', $maxBreakpoint: 'hd') {
  $condition: min-width;
  $breakpointVal: map-get($breakpoints, #{$breakpoint});
  @if ($dir == until or $dir == to) {
    $condition: max-width;
    $breakpointVal: $breakpointVal - 1px;
  }
  @if ($dir == between) {
    @media screen and (min-width: map-get($breakpoints, #{$breakpoint})) and (max-width: map-get($breakpoints, #{$maxBreakpoint})) {
      @content;
    }
  } @else {


    @media screen and (#{$condition}: $breakpointVal) {
      @content;
    }
  }
}

@mixin mobile-only() {
  @media screen and (max-width: map-get($breakpoints, 'SM')) {
    @content;
  }
}

@mixin tablet-only() {
  @media screen and (min-width: map-get($breakpoints, 'SM')) and (max-width: map-get($breakpoints, 'LG')) {
    @content;
  }
}