body {
  min-height: 100vh;
  overflow-x: hidden;
}

.centered {
  justify-content: center;
}

@for $i from 1 through 10 {
  .z-#{$i}{
    z-index: #{$i};
  }
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.full-radius {
  border-radius: rem(20);
}