@mixin mobile() {
  .navigation--mobile & {
    @content;
  }
}

@mixin fromSM() {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin fromMD() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin fromLG() {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin fromXL() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin fromXXL() {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin untilSM() {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin untilMD() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin untilLG() {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin untilXL() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin untilXXL() {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

/**
  Usage: include transition and provide properties to be transitioned

  .button {
    @include transition(color, background-color, width)
  }
**/
@mixin transition($property...) {
  transition-property: $property;
  transition-timing-function: map-get($transitions, 'default');
  transition-duration: 150ms;
}
