
$font-weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "regular": 400,
  "book": 500,
  "medium": 600,
  "bold": 700,
  "black": 800,
  "ultra": 900
);

/** Example loop for importing font assets **/
// @each $weight, $value in $font-weights {
//   @font-face {
//     font-family: "geomanist";
//     src:
//       url("../fonts/geomanist-#{$weight}-webfont/geomanist-#{$weight}-webfont.eot") format("embedded-opentype"),
//       url("../fonts/geomanist-#{$weight}-webfont/geomanist-#{$weight}-webfont.svg") format("svg"),
//       url("../fonts/geomanist-#{$weight}-webfont/geomanist-#{$weight}-webfont.ttf") format("truetype"),
//       url("../fonts/geomanist-#{$weight}-webfont/geomanist-#{$weight}-webfont.woff") format("woff"),
//       url("../fonts/geomanist-#{$weight}-webfont/geomanist-#{$weight}-webfont.woff2") format("woff2");
//     font-weight: #{$value};
//     font-style: normal;
//   }

//   @font-face {
//     font-family: "geomanistitalic";
//     src:
//       url("../fonts/geomanist-#{$weight}-italic-webfont/geomanist-#{$weight}-italic-webfont.eot") format("embedded-opentype"),
//       url("../fonts/geomanist-#{$weight}-italic-webfont/geomanist-#{$weight}-italic-webfont.svg") format("svg"),
//       url("../fonts/geomanist-#{$weight}-italic-webfont/geomanist-#{$weight}-italic-webfont.ttf") format("truetype"),
//       url("../fonts/geomanist-#{$weight}-italic-webfont/geomanist-#{$weight}-italic-webfont.woff") format("woff"),
//       url("../fonts/geomanist-#{$weight}-italic-webfont/geomanist-#{$weight}-italic-webfont.woff2") format("woff2");
//     font-weight: #{$value};
//     font-style: italic;
//   }
// }

* {
  font-family: 'Heebo', sans-serif;
  letter-spacing: 0.04em;
}

h1, h2, h3, h4, h5, h6, %h1, %h2, %h3, %h4, %h5, %h6 {
  font-family: 'Overpass', sans-serif;  
  letter-spacing: rem(0.9);
}


h1 {
  font-weight: 800;
  font-size: rem(36);

  @include query(from, md) {
    font-size: rem(46);
  }

  @include query(from, lg) {
    font-size: rem(52);
  }
}

h2,
%h2 {
  font-weight: 800;
  font-size: rem(30);

  @include query(from, lg) {
    font-size: rem(36);
  }
}

h3, h4 {
  font-size: rem(24);
  font-weight: 600;
}

h5 {
  font-size: rem(20);
  font-weight: 600;
}

h6 {
  font-size: rem(20);
  font-weight: 500;
}

.h7, .h8 {
  font-weight: 500;
  font-size: rem(18);
}

div, li, ul, ol, li, span, p {
  font-style: normal;
  font-weight: normal;
  font-size: rem(16);
  line-height: 21px;
}

.text-sub {
  font-size: rem(14);

  &--underline {
    text-decoration: underline;
  }
}