/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

body {
  --dark-blue: #1A2F59;
  --blue: #2E549E;
  --orange: #D99055;
  --orange-hover: darken(#D99055, 5%);
  --grey: #EEEEEE;
  --lightgrey: #F6F6F6;
  --inactive: #C7C7C7;
}

$colors: (
  'darkblue': #1A2F59,
  'blue': #2E549E,
  'orange': #D99055,
  'orangeHover': darken(#D99055, 10%),
  'blueHover': darken(#1A2F59, 10%),
  'grey': #EEEEEE,
  'lightgrey': #F6F6F6,
  'inactive': #C7C7C7
);

$transitions: (
  'default': cubic-bezier(0.65, 0, 0.35, 1)
);

$timing: (
  'default': 150ms, //default transition timing
  'secondary': 250ms, //secondary transition timing
  'zoom': 250ms, //used for zoom effects on images
  'grow': 250ms, //used for transitioning element scale
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$breakpoints: (
  'xs': 420px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'hd': 1400px
);