.banner {
    padding: rem(20) 0 rem(40);
    background-color: var(--blue);

    &--home {
        padding: rem(20) 0 rem(70);
    }

    &__title {
        padding-top: rem(60);
        color: white;
        font-weight: 800;
    }

    &__searchWrapper {
        height: rem(40);
    }

    &__image {
        @include query(from, lg) {
            width: 120%;
        }
    }

    &__contentWrapper {
        &--content {
            p {
                color: white;
                margin: 0;
            }
        }
    }
}