.doorways {
    &__list {

    }

    &__listItem {
    }
    
    &__link {
        padding: rem(10) 0;
        border-bottom: 1px solid white;
        min-width: rem(220);
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
        }

        @include query(from, md) {
            min-width: rem(270);
        }
    }

    &__label {
        color: white;
        transition: color 150ms ease-in-out;

        .doorways__listItem:hover & {
            color: var(--orange);
        }
    }

    &__icon {

    }
}