.faq {

    &__item {
        background-color: transparent;
        border-bottom: 1px solid white;
    }

    &__question {
        background-color: transparent;
        color: white;
        font-family: 'Heebo', sans-serif;
        padding: rem(8) 0;
        font-size: rem(18);
        font-weight: 500;

        &:not(.collapsed) {
            background-color: transparent;
            box-shadow: none;
            color: white;
        }

        &:after {
            filter: contrast(0) brightness(0) invert(1);
        }
    }

    &__answer {
        color: white;
        font-family: 'Heebo', sans-serif;
        
        .accordion-body {
            font-size: rem(15);
            padding: rem(8) 0;
        }
    }
}