.featuredProductsSlider {
    margin-top: rem(-15);
    padding-bottom: rem(40);
    
    @include query(from, md) {
        margin-top: rem(-85);
    }

    &__wrapper {
        background-color: white;
        min-height: rem(300);
        border-radius: rem(30);
        box-shadow: 0 0 rem(20) 0 rgba(#2E549E, 0.25);
        padding: rem(35) rem(30);
    }

    &__buttonWrapper {
        button {
            appearance: none;
            border: none;
            background-color: transparent;
        }
    }
}
