.table {
    &__wrapper {
        margin-top: rem(30);
        border: 1px solid var(--dark-blue);
    }

    &__row {
        border-bottom: 1px solid var(--dark-blue);

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__label {
        padding: rem(4) rem(10);
        background-color: var(--grey);
        font-weight: 500;
    }

    &__value {
        padding: rem(4) rem(10);
    }
}
