.textblock {
    &__title {
        font-weight: 700;
        font-size: rem(36);
        margin-bottom: rem(15);
    }

    &__contentWrapper {
        p {
            margin-bottom: 0;
        }
    }
}